* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

header {
    background-color: #6200ea;
    color: white;
    padding: 1rem;
    text-align: center;
}

.title-todo-list {
    font-size: 2rem;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    margin: auto;
}

.title-modal {
    margin-bottom: 1rem;
}

.form-modal {
    display: flex;
    flex-direction: column;
}

.input-task {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.button-add {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-add:hover {
    background-color: #3700b3;
}

.content-to-do-list {
    padding: 1rem;
}

.container-task {
    margin-top: 1rem;
}

.description-box {
    background-color: #e1bee7;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-remove {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-remove:hover {
    background-color: #d32f2f;
}

footer {
    text-align: center;
    padding: 1rem;
}

.To-add-new-task {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.To-add-new-task:hover {
    background-color: #3700b3;
}
